# Check https://www.mkdocs.org/user-guide/configuration/
# for more MkDocs configuration details

site_name: Tactics2d
site_url: https://tactics2d.readthedocs.io/en/latest/
site_description: The official documentation of Tactics2d.
site_author: WoodOxen
repo_url: https://github.com/WoodOxen/tactics2d

docs_dir: docs
nav:
  - Home: "index.md"
  - Release Notes: "release_notes.md"
  - Installation: "installation.md"
  - Quick Start: "quick_start.md"
  - Customization: "customization.md"
  - Dataset Support: "dataset-support.md"
  - Python API:
      - tactics2d.dataset_parser: "api/dataset_parser.md"
      - tactics2d.envs: "api/envs.md"
      - tactics2d.map: "api/map.md"
      - tactics2d.math: "api/math.md"
      - tactics2d.participant: "api/participant.md"
      - tactics2d.physics: "api/physics.md"
      - tactics2d.sensor: "api/sensor.md"
      - tactics2d.traffic: "api/traffic.md"
  - Publications: "publication.md"

theme: 
  name: "material"
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
    palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: "Roboto Slab"
    code: "Ubuntu Mono"
  features:
    - content.action.view
    - content.code.copy
    - content.code.prettify
    - navigation.expand
    - navigation.footer
    - search.suggest

plugins:
  - glightbox
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            heading_level: 1
            show_root_heading: true
  - search

markdown_extensions:
  - abbr
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra_javascript:
  - javascripts/katex.js 
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js  
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  - css/extra_for_material.css
