# Check https://www.mkdocs.org/user-guide/configuration/
# for more MkDocs configuration details

site_name: Tactics2d
site_url: https://tactics2d.readthedocs.io/en/latest/
site_description: The official documentation of Tactics2d.
site_author: WoodOxen
repo_url: https://github.com/WoodOxen/tactics2d

docs_dir: docs
nav:
  - Home: "index.md"
  - Release Notes: "release_notes.md"
  - Installation: "installation.md"
  - Dataset Support:
    - "dataset_support/index.md"
    - CitySim: "dataset_support/citysim.ipynb"
    - DLP: "dataset_support/dlp.ipynb"
    - INTERACTION: "dataset_support/interaction.ipynb"
    - nuPlan: "dataset_support/nuplan.ipynb"
    - highD: "dataset_support/highd.ipynb"
    - inD: "dataset_support/ind.ipynb"
    - rounD: "dataset_support/round.ipynb"
    - exiD: "dataset_support/exid.ipynb"
    - uniD: "dataset_support/unid.ipynb"

  - Python API:
    - tactics2d.controller: "api/controller.md"
    - tactics2d.dataset_parser: "api/dataset_parser.md"
    - tactics2d.envs: "api/envs.md"
    - tactics2d.geometry: "api/geometry.md"
    - tactics2d.interpolator: "api/interpolator.md"
    - tactics2d.map: "api/map.md"
    - tactics2d.participant: "api/participant.md"
    - tactics2d.physics: "api/physics.md"
    - tactics2d.sensor: "api/sensor.md"
    - tactics2d.traffic: "api/traffic.md"

  - Tutorials:
    - Interpolators: "tutorials/interpolator_demo.ipynb"
    - Searchers: "tutorials/search_demo.ipynb"

  - Community: "community.md"
  - Publications: "publication.md"

theme:
  name: "material"
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
    palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: "Roboto Slab"
    code: "Cousine"
  features:
    - content.action.view
    - content.code.copy
    - content.code.prettify
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.integrate
    - navigation.instant
    - navigation.instant.progress
    - navigation.top
    - navigation.sections
    - search.suggest
    - toc.follow
    - toc.integrate

plugins:
  - glightbox
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            heading_level: 1
            show_root_heading: true
            docstring_section_style: list
  - mkdocs-jupyter:
      execute: false
      include_requirejs: true
      include_source: true
      kernel_name: python3
  - search:
      lang: en

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - toc:
      toc_depth: 2
  - pymdownx.arithmatex:
      generic: true
  - toc:
      toc_depth: 2
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji

extra_javascript:
  - javascripts/katex.js
  - javascripts/hide_code.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - css/extra_for_material.css
  - css/hide_code.css
  - https://unpkg.com/katex@0/dist/katex.min.css
