{
    "H_highD_0_DEU": {
        "map_name":"H_highD_0_DEU", 
        "original_map_name": "location_2",
        "track_files": [1, 2, 3],
        "project_rule": {
            "proj": "utm",
            "ellps": "WGS84",
            "zone": 31,
            "datum": "WGS84"
        },
        "gps_origin": [0.001, 0.0],
        "visible_area": {
            "x_range": [0, 400],
            "y_range": [-40, 10]
        }
    },
    "H_highD_1_DEU": {
        "map_name": "H_highD_1_DEU",
        "original_map_name": "location_3",
        "track_files": [4, 5, 6],
        "project_rule": {
            "proj": "utm",
            "ellps": "WGS84",
            "zone": 31,
            "datum": "WGS84"
        },
        "gps_origin": [0.001, 0.0],
        "visible_area": {
            "x_range": [0, 400],
            "y_range": [-40, 10]
        }
    },
    "H_highD_2_DEU": {
        "map_name": "H_highD_2_DEU",
        "original_map_name": "location_4",
        "track_files": [7, 8, 9, 10],
        "project_rule": {
            "proj": "utm",
            "ellps": "WGS84",
            "zone": 31,
            "datum": "WGS84"
        },
        "gps_origin": [0.001, 0.0],
        "visible_area": {
            "x_range": [0, 400],
            "y_range": [-40, 10]
        }
    },
    "H_highD_3_DEU": {
        "map_name": "H_highD_3_DEU",
        "original_map_name": "location_1",
        "track_files": [11, 12, 13, 14, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57],
        "project_rule": {
            "proj": "utm",
            "ellps": "WGS84",
            "zone": 31,
            "datum": "WGS84"
        },
        "gps_origin": [0.001, 0.0],
        "visible_area": {
            "x_range": [0, 400],
            "y_range": [-40, 10]
        }
    },
    "H_highD_4_DEU": {
        "map_name": "H_highD_4_DEU",
        "original_map_name": "location_5",
        "track_files": [15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
        "project_rule": {
            "proj": "utm",
            "ellps": "WGS84",
            "zone": 31,
            "datum": "WGS84"
        },
        "gps_origin": [0.001, 0.0],
        "visible_area": {
            "x_range": [0, 400],
            "y_range": [-40, 10]
        }
    },
    "H_highD_5_DEU": {
        "map_name": "H_highD_5_DEU",
        "original_map_name": "location_6",
        "track_files": [58, 59, 60],
        "project_rule": {
            "proj": "utm",
            "ellps": "WGS84",
            "zone": 31,
            "datum": "WGS84"
        },
        "gps_origin": [0.001, 0.0],
        "visible_area": {
            "x_range": [0, 400],
            "y_range": [-40, 10]
        }
    }
}