/******************** Left side bar ***************************/
nav.md-nav--primary {
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #d6d6d6;
}


/******************* Right Side Bar ***************************/
nav.md-nav--secondary {
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #d6d6d6;
}

/******************* Callout ***************************/
/* Base font sizes using rem units for better scalability */
.admonition-title,
.admonition-abstract {
	font-size: 0.8rem; /* ~16px */
}

.admonition.info,
.admonition.note,
.admonition.quote,
.admonition.warning {
	font-size: 0.8rem; /* ~14.4px */
}

/* Responsive font sizes for smaller screens */
@media screen and (max-width: 768px) {
	.admonition-title,
	.admonition-abstract {
		font-size: 0.8rem; /* ~15px on mobile */
	}

	.admonition.info,
	.admonition.note,
	.admonition.quote,
	.admonition.warning {
		font-size: 0.8rem; /* ~14px on mobile */
	}
}


/******************* Code ***************************/
/* Base code font size */
code {
	border-width: 1px;
	font-size: 0.8rem; /* ~14px */
}

code.highlight{
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #587feb;
}

code.language-python {
	margin-top: 0px;
	padding-left: 10px;
	display: block;
	font-weight: bold;
	/* font-size inherited from code selector */
}

/* Responsive code font sizes */
@media screen and (max-width: 768px) {
	code {
		font-size: 0.8rem; /* ~13px on mobile */
	}
}


/******************* Class Region ***************************/
div.doc-class {
	margin-bottom: 100px;
	padding-right: 3px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #0eb0c9;
}


/******************* Function Region ***************************/
div.md-typeset__table {
	padding-right: 16px;
	margin-bottom: 0px;
	font-weight: bold;
}

div.doc-function {
	align-self: flex-start;
	border-right-width: 1px;
	border-right-style : solid;
	border-right-color: #d6d6d6;
	padding-bottom: 0px;
	margin-bottom: 18px;
}



/******************* Details ***************************/
summary {
	text-align: left;
	font-weight: bold;
}


em {
	text-align: center;
	font-style: italic;
}
