/******************** Left side bar ***************************/
nav.md-nav--primary {
	text-align: left;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d6d6d6;
}


/******************* Right Side Bar ***************************/
nav.md-nav--secondary {
	text-align: left;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #d6d6d6;
}


/******************** Table Item ***************************/
th{
	font-size: 16px;
	line-height: 1.2;
}

td {
	font-size: 16px;
	line-height: 1.2;
}


/******************* Table Description ***************************/
div.doc-md-description {
	font-size: 16px;
}


/******************* H1 Doc Heading ***************************/
h1.doc-heading {
	font-size: 36px;
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
}


/******************* H2 Doc Heading ***************************/
h2.doc-heading {
	margin-top: 3px;
	font-size: 32px;
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
}


/******************* H3 Doc Heading ***************************/
h3.doc-heading {
	font-size: 28px;
	line-height: 1.6;
	text-align: left;
}


/******************* H4 Doc Heading ***************************/
h4 {
	font-size: 20px;
	line-height: 1.2;
}


/******************* Callout ***************************/
.admonition-title {
	font-size: 16px;
}

.admonition-abstract {
	font-size: 16px;
}

.admonition.info {
	font-size: 16px;
}

.admonition.note {
	font-size: 16px;
}

.admonition.quote {
	font-size: 16px;
}

/******************* p Doc ***************************/
p.doc {
	font-size: 18px;
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
}


/******************* Span Doc ***************************/
small.doc {
	font-size: 16px;
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
}


/******************* Strong ***************************/
strong {
	font-size: 18px;
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
}


/******************* Code ***************************/
code {
	font-size: 20px;
	border-width: 1px;
}

code.highlight{
	font-size: 20px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #587feb;
}

code.language-python {
	font-size: 20px;
	margin-top: 0px;
	padding-left: 10px;
	display: block;
	font-weight: bold;
}


/******************* Class Region ***************************/
div.doc-class {
	margin-bottom: 100px;
	padding-right: 3px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #0eb0c9;
	border-right-width: 1px;
	border-right-style : solid;
	border-right-color: #d6d6d6;
}


/******************* Function Region ***************************/
div.md-typeset__table {
	padding-right: 16px;
	margin-bottom: 0px;
	font-weight: bold;
}

div.doc-class {
	font-size: 18px;
}

div.doc-function {
	font-size: 18px;
	align-self: flex-start;
	border-right-width: 1px;
	border-right-style : solid;
	border-right-color: #d6d6d6;
	padding-bottom: 0px;
	margin-bottom: 18px;
}


/******************* Function name and Parameters name ***************************/
span.n {
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
}


/******************* Function Default Parameter ***************************/
span.kc {
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
}


/******************* Function Default String Input ***************************/
span.s1 {
	font-size: 16px;
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
}

/******************* Function Default Number Input ***************************/
span.mf {
	font-size: 16px;
	line-height: 1.2;
}

/******************* Init Function ***************************/
span.fm {
	line-height: 1.2;
}


/******************* Details ***************************/
summary {
	font-size: 18px;
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
}


/******************* Hyperlink ***************************/
a {
	font-size: 16px;
	line-height: 1.2;
	text-align: left;
}

em {
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	font-style: italic;
}