:root {
    --navbar-height: 56px;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: var(--navbar-height);
    font-family: Arial, sans-serif;
    background-color: black;
}

#sensor-container-wrapper {
    height: calc(100vh - var(--navbar-height));
}
